body { margin: 0; text-align:center; background:#EFF4FF url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/body_bg.gif) repeat-x fixed;}
div { font:14px Arial, Helvetica, sans-serif; letter-spacing:1px;}
h2 { display:none;}
h3 { font-family: "Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei","Hiragino Sans GB",Simsun,Arial,sans-serif; color:#A0410D; letter-spacing:2px; }
ol { margin:0; padding:70px 30px 0 50px; list-style:none; }
a:link { color:#598527; text-decoration:none;}
a:hover { color:#598527; text-decoration:underline;}
a:visited { color:#598527; text-decoration:none;}

.delc { color: #B3AFAF;}

#header,#general,#objective,#skillareas,#history,#awards,#lastModified,#copyright
{ margin:0 auto; width:700px; text-align:left; padding:15px 0px; border:1px solid #CCDCF7; border-width:0 1px; }

#header { height:168px; padding:0; background:#ffffff url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/top.jpg) no-repeat center top; border:1px solid #CCDCF7; border-bottom:0px }
#header #title { display:none;}

#general { background:#ffffff url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/general_bg.gif) no-repeat 85% bottom;}
#general .row { margin:0px 45px; padding:13px 0 2px 10px; border-bottom:1px dashed #cccccc; }
#realname,#titlename,#birthday,#phone,#mobile,#email,#homepage,#im
{ width:100px; font: bold 14px Arial, Helvetica, sans-serif; color:#A0410D; text-align:right; }

#objective { background:#ffffff url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/objective_bg.gif) no-repeat 85% bottom;}
#objective p { padding:80px 0 0 45px;line-height: 26px;letter-spacing:2px; background:url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/objective.gif) no-repeat 20px top;}

#skillareas { background:#ffffff url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/skillareas_bg.gif) no-repeat 85% bottom; }
#skillareas ol { padding-top:50px; background:url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/skillareas.gif) no-repeat 20px top; }
#skillareas ol .skill { padding-top:20px; }
#skillareas ol .skill .skillset{ margin:0px; padding-left:20px;  list-style:url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/li.gif);}
#skillareas ol .skill .skillset li { line-height:200%; border-bottom:1px dashed #cccccc; }

#history { background:#ffffff url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/history_bg.gif) no-repeat 85% 85%; }
#history ol { background:url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/history.gif) no-repeat 20px top; }
#history div { line-height:200%; border-bottom:1px dashed #cccccc; }
#history ol .job .skillset{ margin:0px; padding-left:20px;  list-style:url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/li.gif);}
#history ol .job .skillset li { line-height:200%; border-bottom:1px dashed #cccccc; }

#awards { background:#ffffff url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/awards_bg.gif) no-repeat 85% bottom; }
#awards ol { background:url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/awards.gif) no-repeat 20px top;}
#awards div,#awards p { line-height:200%; border-bottom:1px dashed #cccccc;}

#lastModified { text-align:center; font-size:12px; color:#A0410D; background:#ffffff; }

#copyright { height:150px; font-size:12px; color:#A0410D; text-align:center;
border:1px solid #CCDCF7; border-top:0; background:#ffffff url(http://7ktsnb.com1.z0.glb.clouddn.com/misc/resume/bottom.jpg) no-repeat center bottom;}
